h1 {
    font-size: 2em;
}

.sidebar-container {
    /*width: 15rem;*/
    flex-basis: 20rem
}

.toc-scroll {
    width: 20rem;
    overflow-y: auto;
}

.sidebar-tree .reference {
    overflow-wrap: normal;
}

.toc-scroll .reference {
    overflow-wrap: normal;
}

.has-children  {
    overflow-x: auto;
}
